{
    "include": [
        "src/**/*.{ts,vue}"
    ],
    "extension": [
        ".ts",
        ".vue"
    ],
    "exclude": [
        "**/*.spec.js",
        "**/*.spec.ts"
    ],
    "reporter": [
        "text-summary"
    ]
}